@media (min-width: 601px) {
    * {
        margin: 0;
        padding: 0;
        font: 12px "Open Sans", Arial, Helvetica, Geneva, sans-serif;
        color: #9aa6af;
    }
    header {
        width: 100%;
        height: 75px;
        top: 0;
        left: 0;
        background-color: #4d4d4d;
    }
    .menu-ico,
    #chk {
        display: none;
    }
    .ads-center-wide {
        display: block;
        margin: 0px auto;
    }
    .ads-center-mobi img {
        display: none;
        margin: 0px auto;
    }
}


/*
Responsividade
*/

@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        font: 12px "Open Sans", Arial, Helvetica, Geneva, sans-serif;
        color: #9aa6af;
    }
    header {
        width: 100%;
        height: 75px;
        top: 0;
        left: 0;
        background-color: #2c2c2c;
        position: fixed;
        border-bottom: solid #222;
        z-index: 2;
    }
    a {
        text-decoration: none;
    }
    .menu-ico {
        display: block;
        position: fixed;
        font-size: 30px;
        font-weight: bold;
        padding: 15px;
        width: 45px;
        height: 45px;
        text-align: center;
        background-color: #2c2c2c;
        color: #dddddd;
        cursor: pointer;
        left: 0px;
        top: 0;
        z-index: 101;
    }
    .menu-ico:hover {
        background-color: #252525;
    }
    #chk {
        display: none;
    }
    .menu {
        height: 100%;
        position: fixed;
        background-color: #1f1f1f;
        top: 0;
        overflow: hidden;
    }
    #principal {
        width: 250px;
        left: -250px;
        z-index: 101;
    }
    ul {
        list-style: none;
    }
    ul li a {
        display: block;
        font-size: 18px;
        font-family: "Open Sans";
        font-weight: 700;
        padding: 25px;
        text-decoration: none;
        color: #ccc;
        background-color: rgba(207, 0, 0, .0);
    }
    ul li a:hover {
        background-color: rgba(207, 0, 0, .5);
    }
    .act {
        background-color: rgba(207, 0, 0, .6);
        border-left: solid 5px #2c2c2c;
    }
    .bg {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0px;
        position: fixed;
        background-color: rgba(0, 0, 0, .8);
        display: none;
        z-index: 100;
    }
    #chk:checked~.bg {
        display: block;
    }
    #chk:checked~#principal {
        transform: translateX(250px);
    }
    #chk:checked~.slide {
        transform: translateX(250px);
    }
    #chk:checked~header .slide {
        transform: translateX(250px);
    }
    .logo-topo {
        display: block;
        width: 110px;
        margin: 6px auto 0 auto;
        z-index: 2;
    }
    .content {
        display: block;
        background-color: #4d4d4d;
        color: #f1f1f1;
        left: 0px;
        margin-top: 75px;
        z-index: 1;
        padding-top: 25px;
    }
    .slide {
        transition: transform .2s ease-in-out;
    }
    .header-section,
    .body-section,
    .footer-section {
        padding: 0px 25px;
    }
    .ads-center-wide {
        display: none;
        margin: 0px auto;
    }
    .ads-center-mobi img {
        display: block;
        width: 85%;
        margin: 10px auto 20px auto;
    }
    .header-section {
        background-color: #4d4d4d;
        margin-bottom: 0px 25px
    }
    .body-section {
        background-color: #4d4d4d;
    }
    .footer-section {
        background-color: #4d4d4d;
    }
    .news {
        background-color: #3c3c3c;
        border: solid #2b2b2b;
        margin: 20px auto;
        padding: 10px;
    }
    .news h2 {
        color: #f1f1f1;
        font-size: 12pt;
        margin: 10px;
    }
    .news img {
        border: solid #5d5d5d;
        display: block;
        margin: 20px auto;
        width: 90%;
    }
    .news h3 {
        margin: 10px;
        color: #f1f1f1;
        font-size: 18pt;
    }
    .news p {
        margin: 10px;
        color: #f1f1f1;
        ]font-size: 12pt;
    }
    .news h1 {
        text-align: right;
    }
    .footer {
        background-color: #2b2b2b;
        padding: 20px;
    }
    .footer img {
        margin: 10px;
    }
    .footer ul {
        display: inline-block;
        margin: auto;
    }
    .footer ul li {
        padding: 3px;
        width: fit-content;
    }
}